<%= provide(:title, 'Help') %>
<div class="row">
  <div class="large-12 column">
    <h1>Help page</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <p>some help page will be here</p>
  </div>
</div>
