<%= provide(:title, 'Home') %>
<div class="row">
  <div class="large-12 column">
    <h1>Home</h1>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <p>some content will be here</p>
  </div>
</div>
