<% provide(:title, @user.username) %>
<div class="row">
  <div class="large-12 column">
    <h1><%= @user.username %></h1>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <%= @user.gravatar %>
  </div>
</div>
<div class="row">
  <div class="large-12 column">
    <%= link_to 'Edit all', edit_user_path(@user) if current_user == @user %>
  </div>
</div>